.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }

  .mainProjectView {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 1rem;
    width: 100%;
    background-color: #ffffff;
    margin-top: 2rem;
    border-radius: 0.5rem;
    max-height: 60vh;
    overflow-y: scroll;
  }

  .codeContainer {
    background-color: black;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .code {
    background-color: '#00101a';
    flex: 1;
    text-align: 'left';
    border-width: 0;
    overflow-y: 'scroll';
    font-size: '.8em';
    margin: '1em';
    margin-right: 0;
    padding: '2em';
  }

  .enter {
    height: 3rem;
    cursor: pointer;
  }

  .aiText {
    margin-left: 1rem;
    min-width: 1rem;
    font-size: small;
  }

.messageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 12rem;
    overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.messageContainer::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.messageContainer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


  .submit {
    height: 3rem;
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
  }

  .button {
    height: 3rem;
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
    width: 5rem;
    justify-content: center;
  }

  .buttonPrimary {
    height: 3rem;
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 180, 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
    width: 5rem;
    justify-content: center;
  }

  .previous {
    height: 3rem;
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
  }
  
  .description {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
    margin-top: 1rem;
    font-family: var(--font-mono);
  }

  .header {
    font-family: var(--font-mono);
    font-size: 0.85rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .description a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .description p {
    position: relative;
    margin: 0;
    padding: 1rem;
    height: 3rem;
    display: flex;
    margin-left: 1rem;
    align-items: center;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
  }

  .listRow {
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .input {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    height: 3rem;
    z-index: 2;
    font-family: var(--font-mono);
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
    flex: 1;
    width: 100%;
  }

  .textarea {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    height: 8rem;
    z-index: 2;
    font-family: var(--font-mono);
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
    flex: 1;
    width: 100%;
  }

  .folderDisplay {
    font-size: 0.85rem;
    z-index: 2;
    font-family: var(--font-mono);
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.5);
    border-radius: var(--border-radius);
    flex: 1;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
  }
  
  .code {
    font-weight: 700;
    font-family: var(--font-mono);
  }

  .codeLabel {
    font-weight: 700;
    font-family: var(--font-mono);
  }
  
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;
    width: 100%;
  }
  
  .center::before {
    background: var(--secondary-glow);
    border-radius: 50%;
    width: 480px;
    height: 360px;
    margin-left: -400px;
  }
  
  .center::after {
    background: var(--primary-glow);
    width: 240px;
    height: 180px;
    z-index: -1;
  }
  
  .center::before,
  .center::after {
    content: '';
    left: 50%;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
  }
  
  .logo,
  .thirteen {
    position: relative;
  }
  
  .thirteen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    padding: 25px 10px;
    margin-left: 16px;
    transform: translateZ(0);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0px 2px 8px -1px #0000001a;
  }

  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
  
  .thirteen::before,
  .thirteen::after {
    content: '';
    position: absolute;
    z-index: -1;
  }
  
  /* Conic Gradient Animation */
  .thirteen::before {
    animation: 6s rotate linear infinite;
    width: 200%;
    height: 200%;
    background: var(--tile-border);
  }
  
  /* Inner Square */
  .thirteen::after {
    inset: 0;
    padding: 1px;
    border-radius: var(--border-radius);
    background: linear-gradient(
      to bottom right,
      rgba(var(--tile-start-rgb), 1),
      rgba(var(--tile-end-rgb), 1)
    );
    background-clip: content-box;
  }
  
  /* Enable hover only on non-touch devices */
  @media (hover: hover) and (pointer: fine) {
    .card:hover {
      background: rgba(var(--card-rgb), 0.1);
      border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }
  
    .card:hover span {
      transform: translateX(4px);
    }
  }
  
  
  @media (prefers-reduced-motion) {
    .thirteen::before {
      animation: none;
    }
  
    .card:hover span {
      transform: none;
    }
  }
  
  /* Mobile and Tablet */
  @media (max-width: 1023px) {

    .main {
        padding: 3rem;
    }
  
    .center {
      padding: 8rem 0 6rem;
    }
  
    .center::before {
      transform: none;
      height: 300px;
    }
  
    .description {
      font-size: 0.8rem;
      display: flex;
      width: 80vw;
      margin-top: 1rem;
      /* flex-direction: column; */
    }

    .description input {
      /* width: 100%; */
      flex: 1;

    }
  
    .description p {
    
      align-items: center;
      height: 3rem;
      width: 5rem;
    }

    .codeLabel {
      font-size: x-small;
    }

  }
  
  
  
  @media (prefers-color-scheme: dark) {
    .logo,
    .thirteen img {
      filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  